@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-popup1 {
  background-image: url('/images/background1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 250%; /* 可調整成 30% ~ 70% 看起來比較剛好 */
  background-color: #fff; /* 記得加上底色 */
}

.custom-popup2 {
  background-image: url('/images/background2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 250%; /* 可調整成 30% ~ 70% 看起來比較剛好 */
  background-color: #fff; /* 記得加上底色 */
}

.custom-popup3 {
  background-image: url('/images/background3.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 250%; /* 可調整成 30% ~ 70% 看起來比較剛好 */
  background-color: #fff; /* 記得加上底色 */
}

.custom-popup4 {
  background-image: url('/images/background4.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 250%; /* 可調整成 30% ~ 70% 看起來比較剛好 */
  background-color: #fff; /* 記得加上底色 */
}

